global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
      - role: pod
    relabel_configs: []

  - job_name: 'backend'
    static_configs:
      - targets: ['backend-service:3000']
